body, html {
  height: 100%;
  background: url('/assets/images/sakura.png') top right no-repeat;
}

.right {
  text-align: right;
}

main {
  /* The image used */
  background-image: url("/assets/images/toyoda.svg");
  fill: #94d31b;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
