html {
  scroll-behavior: smooth;
}

body {
  background: url("/assets/images/bg.jpg") left no-repeat;
  background-size: cover;
  background-attachment: fixed;
  line-height: 1.5rem;
}

.content {
  background-color: rgba(255, 255, 255,  0.8);
  box-shadow: 0 0 16px 6px rgba(0, 0, 0, 0.2);
  padding: 2rem 1.5rem;
  height: 100%;

  p {
    margin: 0 0 1.5rem 0;
  }

  img {
    max-width: 100%;
  }
}

address {
  font-style: normal;
}

a {
  color: $main-color;
}

a:hover {
  color: $active-color;
}

.mapa img {
  width: 100%;
}

table {
  min-width: 400px;

  th {
    text-align: left;
    background-color: #cd3333;
    color: white;
    padding: .2rem 0.6rem;
    margin: 0.3rem;
  }

  tr:nth-child(even) {
    background-color: $light-grey;
  }

  td {
    padding: .2rem 0.6rem;
    margin: 0.3rem;
  }
}

dl {
  display: flex;
  flex-wrap: wrap;
}
dt {
  width: 33%;
  font-weight: bold;
}
dd {
  margin-left: auto;
  width: 66%;
  margin: 0 0 1rem 0;
}

ul.inline {
  li {
    display: inline;
    margin-right: 1rem;
  }
}

.article {
  column-count: 2;
  column-gap: 2rem;
  column-rule: 1px dashed $light-grey;

  h1, h2 {
    column-span: all;
  }
}

blockquote {
  margin: 0 0 2em 0;
  padding-left: 2em;
  border-left: 3px solid $active-color;

  p {
    font-size: large;
    margin: 0 0 0.5rem 0!important;
  }

  author {
    font-size: small;
    font-style: italic;
  }
}
