nav {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 16px 0px $shadow-color;
  z-index: 1;

  .logo {
    background: url("/assets/images/toyoda.svg") 10px no-repeat;
    background-size: contain;
    height: $nav-height;
  }

  .title {
    a {
      margin-left: 100px;
      font-size: 1.50em;
      font-weight: bold;
      text-decoration: none;
      color: $main-color;
    }
  }

  ul {
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a, .dropbtn {
    color: $main-color;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li p {
    border-top: solid 1px lighten($main-color, 50);
    color: lighten($main-color, 30);
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin: 0;
    padding: 12px 16px 0 16px;
    text-align: right;
    width: 100%
  }

  li a:hover, .dropdown:hover .dropbtn {
    color: $active-color;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 8px 16px 0px $shadow-color;
    z-index: 2;
  }

  .dropdown-content a {
    color: $main-color;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
