.nav-container
  a.logo href="/"
    img src="/assets/images/toyoda.svg" alt="POA Logo"
    span Polska Organizacja Aikido

  input#nav-toggle type="checkbox"
  label.nav-toggle-label for="nav-toggle"
    span

  .nav-menu
    .dropdown
      input.dropdown-toggle id="dropdown-1" type="checkbox"
      label.dropdown-label for="dropdown-1" Aikido
      .dropdown-content
        a href="/aikido/czym_jest.html" Czym jest Aikido?
        a href="/aikido/historia.html" Historia
        a href="/aikido/korzysci.html" Korzyści z treningu
        a href="/lineage.html" Linia przekazu
        a href="/slowniczek.html" Słowniczek
        .dropdown-section Biografie
        a href="/biografie/o-sensei.html" O-Sensei Morihei Ueshiba
        a href="/biografie/kisshomaru.html" Kisshomaru Ueshiba
        a href="/biografie/moriteru.html" Moriteru Ueshiba
        a href="/biografie/mitsuteru.html" Mitsuteru Ueshiba
        a href="/biografie/toyoda.html" Fumio Toyoda
        a href="/biografie/germanov.html" Edward Germanov
        a href="/biografie/ostrowski.html" Jacek Ostrowski
        a href="/biografie/szrajer.html" Oskar Szrajer

    .dropdown
      input.dropdown-toggle id="dropdown-2" type="checkbox"
      label.dropdown-label for="dropdown-2" Organizacja
      .dropdown-content
        a href="/wydarzenia/2026.html" Wydarzenia 2026
        .dropdown-section Egzaminy
        a href="/wymagania_egzaminacyjne/kyu.html" Stopnie Kyu
        a href="/wymagania_egzaminacyjne/dan.html" Stopnie Dan

    a.nav-link href="/kontakt.html" Kontakt
