<div class="nav-container">
  <a class="logo" href="/en/">
    <img src="/assets/images/toyoda.svg" alt="POA Logo" />
    <span>Polish Aikido Organization</span>
  </a>

  <input id="nav-toggle" type="checkbox" />
  <label class="nav-toggle-label" for="nav-toggle">
    <span></span>
  </label>

  <div class="nav-menu">
    <div class="dropdown">
      <input class="dropdown-toggle" id="dropdown-1" type="checkbox" />
      <label class="dropdown-label" for="dropdown-1">Aikido</label>
      <div class="dropdown-content">
        <a href="/en/aikido/what_is.html">What is Aikido?</a>
        <a href="/en/aikido/history.html">History</a>
        <a href="/en/aikido/benefits.html">Training Benefits</a>
        <a href="/en/glossary.html">Glossary</a>
        <a href="/en/faq.html">FAQ - Questions</a>
      </div>
    </div>

    <div class="dropdown">
      <input class="dropdown-toggle" id="dropdown-2" type="checkbox" />
      <label class="dropdown-label" for="dropdown-2">For Practitioners</label>
      <div class="dropdown-content">
        <a href="/en/aikido/beginners.html">For Beginners</a>
        <a href="/en/aikido/aiki_taiso.html">Aiki Taiso - Exercises</a>
        <a href="/en/aikido/reishiki.html">Reishiki - Etiquette</a>
        <a href="/en/requirements/kyu.html">Kyu Ranks</a>
        <a href="/en/requirements/dan.html">Dan Ranks</a>
      </div>
    </div>

    <div class="dropdown">
      <input class="dropdown-toggle" id="dropdown-3" type="checkbox" />
      <label class="dropdown-label" for="dropdown-3">Lineage</label>
      <div class="dropdown-content">
        <a href="/en/lineage.html">Lineage Overview</a>
        <a href="/en/yudansha.html">Yudansha - Black Belts</a>
        <div class="dropdown-section">Masters</div>
        <a href="/en/biographies/o-sensei.html">O-Sensei Morihei Ueshiba</a>
        <a href="/en/biographies/kisshomaru.html">Kisshomaru Ueshiba</a>
        <a href="/en/biographies/moriteru.html">Moriteru Ueshiba</a>
        <a href="/en/biographies/mitsuteru.html">Mitsuteru Ueshiba</a>
        <a href="/en/biographies/toyoda.html">Fumio Toyoda</a>
        <a href="/en/biographies/germanov.html">Edward Germanov</a>
        <a href="/en/biographies/ostrowski.html">Jacek Ostrowski</a>
        <a href="/en/biographies/szrajer.html">Oskar Szrajer</a>
      </div>
    </div>

    <a class="nav-link" href="/en/events/2026.html">Events 2026</a>
    <a class="nav-link" href="/en/gdynia.html">Aikido Gdynia</a>
    <a class="nav-link" href="/en/contact.html">Contact</a>
  </div>

  <a class="nav-link lang-switcher" href="/" title="Polski">PL</a>
</div>
