<div class="nav-container">
  <a class="logo" href="/">
    <img src="/assets/images/toyoda.svg" alt="POA Logo" />
    <span>Polska Organizacja Aikido</span>
  </a>

  <input id="nav-toggle" type="checkbox" />
  <label class="nav-toggle-label" for="nav-toggle">
    <span></span>
  </label>

  <div class="nav-menu">
    <div class="dropdown">
      <input class="dropdown-toggle" id="dropdown-1" type="checkbox" />
      <label class="dropdown-label" for="dropdown-1">Aikido</label>
      <div class="dropdown-content">
        <a href="/aikido/czym_jest.html">Czym jest Aikido?</a>
        <a href="/aikido/historia.html">Historia</a>
        <a href="/aikido/korzysci.html">Korzyści z treningu</a>
        <a href="/aikido/budo_zen.html">Budo i Zen</a>
        <a href="/slowniczek.html">Słowniczek</a>
        <a href="/faq.html">FAQ - Pytania</a>
      </div>
    </div>

    <div class="dropdown">
      <input class="dropdown-toggle" id="dropdown-2" type="checkbox" />
      <label class="dropdown-label" for="dropdown-2">Dla Trenujących</label>
      <div class="dropdown-content">
        <a href="/aikido/dla_poczatkujacych.html">Dla Początkujących</a>
        <a href="/aikido/aiki_taiso.html">Aiki Taiso - Ćwiczenia</a>
        <a href="/aikido/reishiki.html">Reishiki - Etykieta</a>
        <a href="/wymagania_egzaminacyjne/kyu.html">Stopnie Kyu</a>
        <a href="/wymagania_egzaminacyjne/dan.html">Stopnie Dan</a>
      </div>
    </div>

    <div class="dropdown">
      <input class="dropdown-toggle" id="dropdown-3" type="checkbox" />
      <label class="dropdown-label" for="dropdown-3">Linia Przekazu</label>
      <div class="dropdown-content">
        <a href="/lineage.html">Linia przekazu</a>
        <a href="/yudansha.html">Yudansha - Czarne Pasy</a>
        <div class="dropdown-section">Mistrzowie</div>
        <a href="/biografie/o-sensei.html">O-Sensei Morihei Ueshiba</a>
        <a href="/biografie/kisshomaru.html">Kisshomaru Ueshiba</a>
        <a href="/biografie/moriteru.html">Moriteru Ueshiba</a>
        <a href="/biografie/mitsuteru.html">Mitsuteru Ueshiba</a>
        <a href="/biografie/toyoda.html">Fumio Toyoda</a>
        <a href="/biografie/germanov.html">Edward Germanov</a>
        <a href="/biografie/ostrowski.html">Jacek Ostrowski</a>
        <a href="/biografie/szrajer.html">Oskar Szrajer</a>
      </div>
    </div>

    <div class="dropdown">
      <input class="dropdown-toggle" id="dropdown-4" type="checkbox" />
      <label class="dropdown-label" for="dropdown-4">Dojo</label>
      <div class="dropdown-content">
        <a href="/gdynia.html">Gdynia</a>
      </div>
    </div>

    <a class="nav-link" href="/wydarzenia/2026.html">Wydarzenia 2026</a>
    <a class="nav-link" href="/kontakt.html">Kontakt</a>
  </div>

  <a class="nav-link lang-switcher" href="/en/" title="English">EN</a>
</div>
