- page_title "Wydarzenia | 2026"

.content
  .article
    h1 Wydarzenia
    h2 Germanov Shihan and BAA Seminar Program for 2026

    p
      | Program seminariow i obozow Bulgarian Aikido Association (BAA) na rok 2026
      | pod kierownictwem Germanov Shihan.

    table
      thead
        tr
          th Data
          th Wydarzenie
          th Lokalizacja
          th Instruktor
      tbody
        tr
          td 28.02 - 1.03
          td BAA Kangeiko
          td Bulgaria
          td Germanov Shihan
        tr
          td 3-5.04
          td Seminar in Basel
          td Basel, Switzerland
          td Quaranta Shihan & Germanov Shihan
        tr
          td 18.04
          td BAA Seminar in Pleven
          td Pleven, Bulgaria
          td Germanov Shihan
        tr
          td 24-26.04
          td BAA International Seminar
          td Tokushinkan Dojo, Lake Geneva, WI, USA
          td Germanov Shihan
        tr
          td 02.05
          td BAA Seminar in Pazardzhik
          td Pazardzhik, Bulgaria
          td Germanov Shihan
        tr
          td 16.05
          td BAA Seminar in Kostinbrod
          td Kostinbrod, Bulgaria
          td Germanov Shihan
        tr.featured
          td 31.05 - 06.06
          td BAA Summer Camp
          td Ammouliani, Greece
          td Quaranta Shihan & Germanov Shihan
        tr.featured
          td 20-26.07
          td BAA Kenshusey / Sesshin Program
          td Bulgaria
          td Germanov Shihan
        tr.special
          td 25-27.09
          td BAA and Aikikai Aikido Academy Seminar
          td Bulgaria
          td Makoto Ito Shihan - 7 dan, Hombu Shihan
        tr
          td 02-04.10
          td BAA / Tendokan International Seminar
          td Zenshinkan Dojo, Worcester, MA, USA
          td Germanov Shihan
        tr
          td 29-31.10
          td BAA / Tendokan International Seminar
          td Dizaj Martial Arts, Doha, Qatar
          td Germanov Shihan
        tr
          td 09.12
          td BAA Seminar in Elin Pelin
          td Elin Pelin, Bulgaria
          td Germanov Shihan
