<% page_title "Biografie mistrzów - Sensei Edward Germanov" %>

<div class="content">
  <div class="article">

    <h1>Biografie mistrzów</h1>
    <h2>Shihan Edward Germanov - 7 dan Aikido Aikikai</h2>

    <p><img src="/assets/images/germanov/germanov.jpg"></p>
    <p>Sensei Edward Germanov urodził się 5 Maja 1966 r. w Sofii, Bułgaria. Sztuki walki ćwiczy od 1980 roku. Na początku Kyoku shin kai Karate później Judo aż w 1986r. rozpoczął treningi Aikido.</p>
    <p>Jego pierwszym nauczycielem był Sensei Petko Petkov, a następnie kontynuował treningi pod okiem Sensei Georgy Penev (Sensei Penev sprowadził Aikido do Bułgarii).</p>
    <p>Od roku 1990 Sensei Germanov rozpoczął trening pod okiem Shihan Toyoda, podążając za nim po Europie, USA i Japonii. W 1990 roku również zakłada BAA (Bulgarian Aikido Association) której pozostaje szefem i głównym instruktorem.</p>
    <p>W 1997r. jako pierwszy uczeń i Uchideshi Shihan Toyoda uzyskał stopień 4dan. Rok później w 1998r. odbył ciężki trening Zen w klasztorze Cho Zen Ji na Hawajach. W tym samym roku Germanov Sensei ćwiczył pod okiem Doshu Moriteru Ueshiba w Aikikai Hombu dojo Tokyo oraz u Shihan Kobayashi biorąc również udział w ,,XXXVI All Japan Aikido Demonstration'' w Budokan, Tokyo.</p>
    <p>Po śmierci swojego nauczyciela Shihan Toyoda, postanowił kontynuować jego drogę i nauczać jej na całym świecie, m.in.: w Serbii, Polsce, Litwie, Czechach, Słowenii, Węgrzech, Słowacji, Grecji, UAE (Dubaj i Oman), Cyprze, Tunezji czy Stanach Zjednoczonych.</p>
    <p>Od 2001r. Sensei Germanov ćwiczy też grappling i MMA (Mieszane Style Walki) pod okiem Sensei Gokor Chivichyan, od którego otrzymuje stopień 5 dan w tym systemie.</p>
    <p>Poza tym Sensei Germanov ćwiczy również Shodo (kaligrafia japońska), najpierw pod okiem Shihan Toyoda, a obecnie Shihan Tajiri oraz Zen pod okiem Tenzan Gensho Rokoji (Buddyjskie imię Shihan Fumio Toyoda) oraz Hosokawa Roshi. Obecnie sam jest wyświęconym kapłanem Zen i sukcesorem Dharmy.</p>
    <p>W 2009r. Sensei Germanov zakłada ,,Tendokan International'' (częścią tej organizacji jest nasza organizacja &ndash; POA) której zostaje prezydentem. Jest to niezależna organizacja podlegająca bezpośrednio pod Hombu Dojo, której celem jest propagowanie Aikido na całym świecie w duchu nauczania Shihan Toyoda.</p>
    <p>Podczas ceremonii Kagami Biraki w styczniu 2026 roku Sensei Germanov został promowany na stopień 7 dan Aikido Aikikai, otrzymując jednocześnie tytuł Shihan. Jest to najwyższy stopień wśród instruktorów w naszym lineage.</p>
    <p>Dziś Shihan Germanov spotkać można na corocznych seminariach w Polsce, jak i wielu innych wszędzie na świecie.</p>
    <p><img src="/assets/images/germanov/germanov2.jpg"></p>

  </div>
</div>
