<% page_title "Master Biographies - Sensei Edward Germanov" %>

<div class="content">
  <div class="article">

    <h1>Master Biographies</h1>
    <h2>Shihan Edward Germanov - 7th Dan Aikido Aikikai</h2>

    <p><img src="/assets/images/germanov/germanov.jpg"></p>
    <p>Sensei Edward Germanov was born on May 5, 1966, in Sofia, Bulgaria. He has been practicing martial arts since 1980. Initially Kyokushinkai Karate, then Judo, until he began Aikido training in 1986.</p>
    <p>His first teacher was Sensei Petko Petkov, and then he continued training under Sensei Georgy Penev (Sensei Penev brought Aikido to Bulgaria).</p>
    <p>Since 1990, Sensei Germanov began training under Shihan Toyoda, following him across Europe, the USA, and Japan. In 1990, he also founded BAA (Bulgarian Aikido Association), of which he remains the head and chief instructor.</p>
    <p>In 1997, as Shihan Toyoda's first student and Uchideshi, he obtained the rank of 4th dan. A year later in 1998, he underwent rigorous Zen training at Cho Zen Ji monastery in Hawaii. That same year, Germanov Sensei trained under Doshu Moriteru Ueshiba at Aikikai Hombu Dojo Tokyo and under Shihan Kobayashi, also participating in the "XXXVI All Japan Aikido Demonstration" at Budokan, Tokyo.</p>
    <p>After the death of his teacher Shihan Toyoda, he decided to continue his way and teach it around the world, including in: Serbia, Poland, Lithuania, Czech Republic, Slovenia, Hungary, Slovakia, Greece, UAE (Dubai and Oman), Cyprus, Tunisia, and the United States.</p>
    <p>Since 2001, Sensei Germanov has also been practicing grappling and MMA (Mixed Martial Arts) under Sensei Gokor Chivichyan, from whom he received a 5th dan in this system.</p>
    <p>In addition, Sensei Germanov also practices Shodo (Japanese calligraphy), first under Shihan Toyoda, and currently under Shihan Tajiri, as well as Zen under Tenzan Gensho Rokoji (Buddhist name of Shihan Fumio Toyoda) and Hosokawa Roshi. He is currently an ordained Zen priest and Dharma successor himself.</p>
    <p>In 2009, Sensei Germanov founded "Tendokan International" (of which our organization - POA - is a part), of which he became president. It is an independent organization subordinate directly to Hombu Dojo, whose goal is to promote Aikido around the world in the spirit of Shihan Toyoda's teaching.</p>
    <p>During the Kagami Biraki ceremony in January 2026, Sensei Germanov was promoted to 7th dan Aikido Aikikai, simultaneously receiving the title of Shihan. This is the highest rank among instructors in our lineage.</p>
    <p>Today, Shihan Germanov can be met at annual seminars in Poland, as well as many others around the world.</p>
    <p><img src="/assets/images/germanov/germanov2.jpg"></p>

  </div>
</div>
