<% page_title "History of Aikido" %>

<div class="content">
  <h1>History of Aikido</h1>

  <div class="article">
    <p>The history of the style is inseparably linked with the biography of its founder. Although Aikido is classified as gendai budo (modern budo), its roots reach much further than 1942, when the name Aikido was officially adopted.</p>

    <h2>What exactly is gendai budo?</h2>

    <p>Simply put, it is any Japanese martial art created after the Meiji Restoration (1866-1869), which marked the end of the shogunate in Japan. Before that, we had Koryu - combat systems strictly focused on warfare and survival on the battlefield. After Japan opened to the world and widely adopted new customs, Budo (the warrior's way) was also modernized. Martial arts such as Kendo, Aikido, Karate, Judo, and others emerged. However, they did not arise from nothing - they drew heavily from the practices of their ancestors. The goal changed. It became the training itself - the way ("do") to achieve the goal of developing the spirit, character, striving to be a better person, not only in the physical aspect through training, but also spiritually and intellectually.</p>
    <p>Aikido is a combination of various schools of weapons and taijutsu. O-Sensei trained in martial arts such as: Kito-ryu, Shinkage-ryu, Tenjin Shinyo-ryu, and held an instructor rank in Yagyu Shingan-ryu. He also had contact with Sumo and Judo (he personally knew Jigoro Kano). Most of these are old ju-jutsu styles with roots on the battlefields of feudal Japan. However, the greatest influence on the Aikido created by Morihei Ueshiba was his practice of Daito-ryu Aiki ju-jutsu, in which he also held a high rank allowing him to teach others. War experiences, as well as O-Sensei's deep spirituality, resulted in a fusion of his existing knowledge of martial arts with the philosophy of peace and putting the good of another person first.</p>
    <p>The history of Aikido can be divided into several periods:</p>

    <h2>Pre-war period</h2>

    <p>A time when the martial art was just being formed and beginning to distinguish itself from other forms of ju-jutsu, as well as from Daito-ryu. The period from which the first generation of masters comes (including Kenji Tomiki, Gozo Shioda). Aikido from this period was characterized by fewer circular movements and the use of more direct techniques.</p>
    <p>Until 1942, Morihei Ueshiba used various names interchangeably for his martial art. That year, the official name - Aikido - was introduced for common use throughout Japan. At the same time, Kisshomaru Ueshiba became dojo-cho of Hombu Dojo and Morihei Ueshiba moved to Iwama.</p>

    <h2>Post-war period</h2>

    <p>The next stage was the takeover of the Aikikai organization by Kisshomaru Ueshiba and the development of what we know today as the mainstream of Aikido, as opposed to the more spiritual, esoteric version that was later practiced by Morihei Ueshiba after moving to Iwama. During this time, the oldest independent Aikido styles emerged, such as Shodokan, the only organization where sports competitions are held, and Yoshinkan, which trains elite Police units in Tokyo.</p>
    <p>With Kisshomaru Ueshiba at the helm, and with his father's help - Aikido as a martial art and organization developed, spreading around the world. O-Sensei remained very active until the end of his days, traveling around the world to promote Aikido and the organization. After the founder's death, further branches emerged, such as KI Society, from which our Aikido school originates, as well as Iwama Ryu, the form closest to O-Sensei's teaching style in his final years.</p>

    <h2>The 1980s period - contemporary Aikido</h2>

    <p>Aikikai is still under the leadership of the Ueshiba family with Moriteru Ueshiba, O-Sensei's great-grandson, at the helm. Today it is an organization, an umbrella, bringing together smaller organizations and associations uniting practitioners worldwide. Besides Hombu Dojo, there are still separate Aikido styles and other less numerous entities that do not belong to the mainstream, but continue to strive to follow the path laid out by master Ueshiba at the beginning of the 20th century.</p>
  </div>
</div>
