<% page_title "Doshu Kisshomaru Ueshiba" %>

<div class="content">
  <div class="article">
    <h1>Biografie mistrzów</h1>
    <h2>Doshu Kisshomaru Ueshiba - Drugi Doshu Aikido</h2>

    <p><img src="/assets/images/ueshiba/kisshomaru.jpg" alt="Doshu Kisshomaru Ueshiba"></p>

    <p>
      Kisshomaru Ueshiba urodził się 27 czerwca 1921 roku w Ayabe, prefektura Kyoto, jako trzeci
      syn Założyciela Aikido - Morihei Ueshiba (O-Sensei). Zmarł 4 stycznia 1999 roku w Tokio.
    </p>

    <h3>Dziedzictwo i misja</h3>

    <p>
      Po śmierci ojca w 1969 roku, Kisshomaru Ueshiba przejął rolę Doshu (Mistrza Drogi) -
      najwyższego autorytetu w świecie Aikido. Jego misja życiowa polegała na usystematyzowaniu
      i rozpowszechnieniu Aikido na całym świecie.
    </p>

    <p>
      Dzięki jego niestrudzonym wysiłkom Aikido przekształciło się z ezoterycznej sztuki walki
      praktykowanej przez garstkę wybranych uczniów w dostępną dla wszystkich dyscyplinę,
      praktykowaną dziś przez miliony ludzi na całym świecie.
    </p>

    <h3>Wkład w rozwój Aikido</h3>

    <p>
      Kisshomaru Ueshiba:
    </p>
    <ul>
      <li>Rozbudował Aikikai Hombu Dojo w Tokio do rangi światowej centrali Aikido</li>
      <li>Stworzył ujednolicony system nauczania dostępny dla ogółu praktykujących</li>
      <li>Napisał liczne książki o Aikido, w tym fundamentalne dzieła o technice i filozofii</li>
      <li>Rozwinął międzynarodową sieć federacji Aikido na wszystkich kontynentach</li>
      <li>Wykształcił pokolenia instruktorów, którzy rozprzestrzenili Aikido po całym świecie</li>
    </ul>

    <h3>Książki i publikacje</h3>

    <p>
      Doshu Kisshomaru Ueshiba jest autorem wielu ważnych publikacji, m.in.:
    </p>
    <ul>
      <li>"Aikido" (1957) - pierwsza kompleksowa książka o Aikido</li>
      <li>"The Spirit of Aikido" (1984)</li>
      <li>"Aikido: The Way of Harmony" (1985)</li>
      <li>"The Art of Aikido" (2004, wydana pośmiertnie)</li>
    </ul>

    <h3>Rodzina i następstwo</h3>

    <p>
      Kisshomaru Ueshiba miał syna Moriteru, który po jego śmierci w 1999 roku przejął
      tytuł Doshu jako trzeci w historii Aikido. Dzięki temu linia przekazu pozostaje
      nieprzerwana w rodzinie Ueshiba.
    </p>

    <blockquote>
      "Aikido nie polega na pokonaniu przeciwnika siłą. To sztuka harmonii,
      w której łączymy się z energią atakującego i kierujemy ją w pokojowy sposób."
      <cite>Doshu Kisshomaru Ueshiba</cite>
    </blockquote>

  </div>
</div>
