- page_title "Linia przekazu - Toyoda Shihan"

.content
  .article
    h1 Nasza droga Aikido
    h2 Linia przekazu

    p
      | Polska Organizacja Aikido (POA) jest częścią międzynarodowej rodziny Aikido wywodzącej się
      |  z nauczania Shihan Fumio Toyody (1947-2001). Nasza linia przekazu łączy nas bezpośrednio z Aikikai
      |  Hombu Dojo w Tokio poprzez następujący łańcuch przekazu:

    .lineage-chart
      .lineage-item.founder
        h3 O-Sensei Morihei Ueshiba
        p Założyciel Aikido (1883-1969)

      .lineage-item
        h3 Doshu Kisshomaru Ueshiba
        p Drugi Doshu, głowa Aikikai (1921-1999)

      .lineage-item
        h3 Shihan Fumio Toyoda
        p 7 dan Aikido Aikikai (1947-2001)
        p Założyciel AAA, AAI, Tendokan Dojo Chicago

      .lineage-item
        h3 Shihan Edward Germanov
        p 7 dan Aikido Aikikai, kapłan Zen
        p Założyciel BAA, Tendokan International

      .lineage-item.current
        h3 Sensei Oskar Szrajer
        p 5 dan Aikido Aikikai
        p Dojo-cho Sesshinkan Dojo, Szef POA

    h2 Organizacje w naszej linii przekazu

    h3 AAA - Aikido Association of America
    p
      | Założona w 1984 roku przez Shihan Fumio Toyodę w Chicago. AAA była pionierem
      |  w organizowaniu seminariów dla instruktorów i wprowadziła system recertyfikacji
      |  nauczycieli co dwa lata. Główna siedziba - Tenshinkan Dojo w Chicago.

    h3 AAI - Aikido Association International
    p
      | Międzynarodowe rozszerzenie AAA, zrzeszające dojo w 11 krajach na całym świecie,
      |  w tym w Japonii. Założyciel - Shihan Fumio Toyoda.

    h3 BAA - Bulgarian Aikido Association
    p
      | Założona w 1990 roku przez Sensei Edwarda Germanova. BAA jest bezpośrednim
      |  spadkobiercą nauczania Shihan Toyody w Europie. Organizuje coroczne seminaria
      |  międzynarodowe z udziałem mistrzów z całego świata.

    h3 Tendokan International
    p
      | Założona w 2009 roku przez Sensei Germanova jako niezależna organizacja podlegająca
      |  bezpośrednio pod Hombu Dojo. Celem jest propagowanie Aikido na całym świecie
      |  w duchu nauczania Shihan Toyody. POA jest częścią tej organizacji.

    h3 POA - Polska Organizacja Aikido
    p
      | Założona w 2007-2008 roku przez Sensei Jacka Ostrowskiego, Sensei Sławomira Orłowskiego
      |  i Sensei Oskara Szrajera. Kontynuuje drogę Shihan Toyody w Polsce pod kierownictwem
      |  Sensei Germanova.

    h2 Nasze dojo

    h3 Sesshinkan Dojo, Gdynia
    p
      | Założone w 2003 roku. Główne dojo POA prowadzone przez Sensei Oskara Szrajera (5 dan).
      |  Nazwa "Sesshinkan" odnosi się do "domu poszukiwania prawdziwego umysłu" - nawiązanie
      |  do praktyki Zen, która była integralną częścią nauczania Shihan Toyody.

    h3 Raciborski Ośrodek Aikido
    p
      | Założony przez Sensei Jacka Ostrowskiego (1972-2024) w rodzinnym Raciborzu.
      |  Kontynuuje działalność na pamięć swojego założyciela.

    blockquote
      | "Skoncentruj się na jednym punkcie, rozszerz go na wiele"
      cite Shihan Fumio Toyoda
