<% page_title "Waka Sensei Mitsuteru Ueshiba" %>

<div class="content">
  <div class="article">
    <h1>Master Biographies</h1>
    <h2>Waka Sensei Mitsuteru Ueshiba - Future Fourth Doshu</h2>

    <p><img src="/assets/images/ueshiba/mitsuteru.jpg" alt="Waka Sensei Mitsuteru Ueshiba"></p>

    <p>
      Mitsuteru Ueshiba (植芝 充央) was born on June 27, 1981, in Tokyo as the son of Doshu Moriteru Ueshiba. He is the great-grandson of the Founder of Aikido - O-Sensei Morihei Ueshiba - and grandson of the Second Doshu Kisshomaru Ueshiba. According to the iemoto system tradition, he is being prepared for the role of the future Fourth Doshu of Aikido.
    </p>

    <h3>Waka Sensei - Young Master</h3>

    <p>
      Since April 2012, Mitsuteru Ueshiba has been serving as Dojocho (head of dojo) of Aikikai Hombu Dojo in Tokyo. In connection with this role, he bears the title Waka Sensei (若先生 - "young master"). His father Moriteru bore the same title during the life of the Second Doshu, and Kisshomaru during the Founder's life.
    </p>

    <p>
      The title Waka Sensei signifies not only respect, but above all indicates the successor who will take over leadership after his father. It is a continuation of the Ueshiba family line tradition in leading world Aikido.
    </p>

    <h3>Education and Training</h3>

    <p>
      Mitsuteru Ueshiba has been prepared for the role of Aikido leader since his youngest years. He trained directly under his father Moriteru and grandfather Kisshomaru, gaining experience in conducting classes and representing Aikikai on the international stage.
    </p>

    <h3>International Activity</h3>

    <p>
      As Dojocho of Hombu Dojo and future Doshu, Mitsuteru Ueshiba:
    </p>
    <ul>
      <li>Regularly conducts seminars around the world</li>
      <li>Represents Aikikai Foundation at international events</li>
      <li>Conducts classes at Hombu Dojo for practitioners from around the world</li>
      <li>Continues the family tradition in teaching and spreading Aikido</li>
    </ul>

    <h3>Family</h3>

    <p>
      On March 2, 2008, Mitsuteru Ueshiba met Keiko Kusano, whom he married. Together they continue the tradition of the Ueshiba family in service to Aikido.
    </p>

    <h3>The Future of Aikido</h3>

    <p>
      As a representative of the fourth generation of the Ueshiba family, Mitsuteru ensures the continuity of the family line in leading Aikikai and world Aikido. His role as Waka Sensei prepares him to take on responsibility for the future of the art created by his great-grandfather.
    </p>

    <blockquote>
      "Aikido is the way of harmony. Our task is to pass this way on to the next generations, preserving its essence and spirit."
      <cite>Waka Sensei Mitsuteru Ueshiba</cite>
    </blockquote>

  </div>
</div>
