- page_title "Słowniczek"

.content
  div
    h1 Słowniczek podstawowych pojęć związanych z Aikido, Zen i Japonią

  h2 Części ciała i kierunki
  .glossary-section
    .glossary-table
      table
        tr
          td Shintai
          td ciało
        tr
          td Jodan
          td górna część
        tr
          td Chudan
          td środkowa część
        tr
          td Gedan
          td dolna część
        tr
          td Men
          td głowa
        tr
          td Yokomen
          td bok głowy
        tr
          td Kubi
          td szyja
        tr
          td Kata
          td ramię
        tr
          td Ude
          td ręka
        tr
          td Mune
          td klatka piersiowa
        tr
          td Hiji
          td łokieć
        tr
          td Hara
          td brzuch
        tr
          td Kote (Tekubi)
          td nadgarstek
        tr
          td Yubi
          td palec
        tr
          td Hiza
          td kolano
        tr
          td Ashi
          td stopa (noga)
        tr
          td Ashikubi
          td kostka
        tr
          td Migi
          td prawa
        tr
          td Hidari
          td lewa
        tr
          td Mae
          td przód
        tr
          td Ushiro
          td tył
        tr
          td Yoko
          td bok

    .glossary-image
      img src="/assets/images/glossary/cialo.jpg" alt="Części ciała"

  h2 Liczebniki
  .glossary-section
    .glossary-table
      table
        tr
          td rei (zero)
          td zero
        tr
          td ichi
          td jeden
        tr
          td ni
          td dwa
        tr
          td san
          td trzy
        tr
          td shi
          td cztery
        tr
          td go
          td pięć
        tr
          td roku
          td sześć
        tr
          td shichi
          td siedem
        tr
          td hachi
          td osiem
        tr
          td kyuu
          td dziewięć
        tr
          td jyuu
          td dziesięć
        tr
          td jyuuichi
          td jedenaście
        tr
          td jyuuni
          td dwanaście
        tr
          td nijyuu
          td dwadzieścia
        tr
          td nijyuuichi
          td dwadzieścia jeden
        tr
          td hyaku
          td sto
        tr
          td sen
          td tysiąc
    .glossary-image
      img src="/assets/images/glossary/numbers.png" alt="Liczebniki japońskie"

  h2 7 cnót wojownika
  .glossary-section
    .glossary-table
      table
        tr
          td Gi
          td uczciwość
        tr
          td Rei
          td szacunek
        tr
          td Yu
          td odwaga
        tr
          td Meiyo
          td honor
        tr
          td Jin
          td współczucie
        tr
          td Makoto
          td szczerość
        tr
          td Chu
          td obowiązek (lojalność)

    .glossary-image
      img src="/assets/images/glossary/cnoty.jpg" alt="7 cnót wojownika"
