<% page_title "Sensei Oskar Szrajer" %>

<div class="content">
  <div class="article">
    <h1>Biografie mistrzów</h1>
    <h2>Sensei Oskar Szrajer - 5 dan Aikido Aikikai</h2>

    <p><img src="/assets/images/szrajer/oskar_szrajer.jpeg" alt="Sensei Oskar Szrajer"></p>

    <p>
      Sensei Oskar Szrajer urodził się 25 marca 1984 roku w Gdyni. Jest jednym z założycieli Sesshinkan Dojo oraz wieloletnim instruktorem Polskiej Organizacji Aikido.
    </p>

    <h3>Początki drogi</h3>

    <p>
      Swoją przygodę z Aikido rozpoczął w 1999 roku w wieku 15 lat w Wadokan Dojo w Gdyni, gdzie trenował pod okiem Sensei Tomasza Tyszki. Tam spotkał Jacka Ostrowskiego oraz wielu innych aikidoków, z którymi dzielił pierwsze kroki na tatami. Od początku rozwijał swoją technikę i zrozumienie filozofii Aikido.
    </p>

    <h3>Założenie Sesshinkan Dojo</h3>

    <p>
      W 2003 roku, wspólnie z Sensei Jackiem Ostrowskim i Sławomirem Orłowskim, założył Sesshinkan Dojo przy WKS "FLOTA" i AMW w Gdyni. Dojo stało się ważnym ośrodkiem szkoleniowym Aikido w Polsce, kontynuującym tradycję Shihana Fumio Toyody.
    </p>

    <h3>Rozwój i szkolenie</h3>

    <p>
      Sensei Szrajer regularnie uczestniczy w seminariach i stażach prowadzonych przez czołowych instruktorów Aikido. Szczególnie ważna w jego rozwoju była współpraca z Sensei Edwardem Petkov Germanov - Prezesem Bulgarian Aikido Association i przedstawicielem rodziny Toyoda.
    </p>

    <h3>Osiągnięcia</h3>

    <p>
      W styczniu 2023 roku Sensei Oskar Szrajer został promowany na stopień 5 dan Aikido Aikikai, co stanowi potwierdzenie jego wieloletniego zaangażowania i mistrzostwa w sztuce Aikido.
    </p>

    <p>
      Posiada następujące stopnie:
    </p>
    <ul>
      <li>Aikido Aikikai - 5 dan (od stycznia 2023)</li>
      <li>Hakko Denshin-ryu Jujutsu - 1 dan</li>
    </ul>

    <h3>Działalność instruktorska</h3>

    <p>
      Sensei Szrajer prowadzi regularne zajęcia w Sesshinkan Dojo w Gdyni. Jego nauczanie charakteryzuje się precyzją techniczną oraz dbałością o przekazywanie nie tylko aspektów fizycznych, ale także duchowych i filozoficznych Aikido.
    </p>

    <p>
      Aktywnie uczestniczy w życiu Polskiej Organizacji Aikido, prowadząc seminaria i wspierając rozwój młodszych adeptów sztuki.
    </p>

    <blockquote>
      "Aikido to nieustanna praca nad sobą. Każdy trening jest okazją do odkrycia czegoś nowego o sobie i o sztuce, którą praktykujemy."
      <cite>Sensei Oskar Szrajer</cite>
    </blockquote>
  </div>
</div>
