<% page_title "Master Biographies - Shihan Fumio Toyoda" %>

<div class="content">
  <div class="article">

    <h1>Master Biographies</h1>
    <h2>Shihan Fumio Toyoda</h2>

    <blockquote>
      <p>Focus on one point, extend it to many</p>
      <author>Shihan Fumio Toyoda</author>
    </blockquote>

    <p><img src="/assets/images/toyoda/young_toyoda.jpg"></p>
    <p>The roots of Master Toyoda's family can be traced back to one of the great clans of Japan - the Fujiwara clan.</p>
    <p>The Fujiwara family was the dominant link in Japanese statehood during the Heian period (794-1185). Many ministers of the imperial court came from it, as well as several prime ministers. They expanded their power by arranging marriages of the clan's daughters to the imperial family, thus gaining power and a certain control over the emperor himself. In the 13th century, the Fujiwara clan lost its significance after a lost skirmish with the Taira clan (Hogen no Ran). However, family members still remained in close company with the emperor and court.</p>
    <p>Over the years, the Fujiwara clan granulated into smaller clans and families, which resulted in the creation of the Toyoda clan, which received lands in a less significant region in the north of Japan, far from the center of power and the capital of the state at the time - Kyoto. After the Battle of Sekigahara, in which the Toyoda clan sided with the victorious side of the conflict - the Tokugawa clan - in exchange for its achievements, it received additional land grants in the vicinity of its existing lands. These territories remained in the family's possession until the introduction of new land laws after World War II by General MacArthur. These lands are in the area of the present Tochigi prefecture in the Kanto region, about 60km north of Tokyo.</p>

    <p>The Toyoda family's lands also bordered the lands of another clan - Tohei. It was at the neighbor across the field that Koichi Tohei (10th dan Aikido) that Sensei Toyoda's older brother took Aikido lessons. At first, the older brother took young Fumio to training, and he only watched them, but over time it also ignited a passion in him and he began to actively train at the age of 10. At the age of 12, Sensei Toyoda also took up Judo training, which he eventually ended at the age of 17 after several injuries. At the same time, while continuously training Aikido, he received the rank of Shodan from Morihiro Saito. (Koichi Tohei was abroad at the time).</p>
    <p>At the age of 17, Sensei Toyoda began Misogi and Zen meditation training at the Ichikukai Dojo in Tokyo, famous for its very rigorous practices. A year later, Fumio Toyoda began studying law at Senshu University. At the same time, Sensei lived near Hombu Dojo, where he trained under O-Sensei and future dojo-cho - Kisshomaru Ueshiba. This year also brought another move from a small apartment to the Ichikukai headquarters, where Sensei undertook the hardships of Jyoju - being the equivalent of uchideshi in the Zen tradition under Tesso Hino Sensei.</p>

    <p>In this way, Master Toyoda spent three years of intensive training in both Aikido and the Zen way. After this period, there was another change of residence back to the vicinity of Hombu Dojo, involving even more intensive Aikido training. During these three years, Fumio Toyoda graduated from university but came to the conclusion that he was not interested in a further legal career, but in continuing the path of shogyo - hard training of both body and spirit. The path of a professional Aikido instructor. Master Toyoda expressed his desire to become an uchideshi at Hombu Dojo, but at that time O-Sensei died, and thus Fumio Toyoda became the first uchideshi under the new dojo-cho of Hombu Dojo - Kisshomaru Ueshiba.</p>
    <p>At the age of twenty-two, he received the rank of sandan and assisted in conducting training in several locations. It was during this period that such later masters as Moriteru Ueshiba and Hayato Osawa also took up training.</p>
    <p>Two years later, he received a promotion to the rank of yondan. At that time, he was already teaching in eleven locations in Japan, including three universities. He also traveled as an instructor to South Korea and had contact with prominent masters such as Saito and Kobayashi.</p>
    <p>At that time, an unprecedented split occurred in the world of Aikido. Koichi Tohei, then the chief instructor at Hombu Dojo, left Aikikai to found his own organization, Ki no Kenkyukai. Sensei Toyoda followed his first master. He became the chief instructor within the new organization and also helped codify the statute and laws of Ki no Kenkyukai. At Koichi Tohei's urging, Sensei moved to Chicago to promote Aikido in the United States. In 1974, at the age of twenty-seven, he received the rank of godan.</p>
    <p><img src="/assets/images/toyoda/toyoda.jpg"></p>

    <p>At that time in the USA, there was very little knowledge about Aikido, and the work had to start from scratch. The following years were a period of great effort and exhausting work aimed at promoting and teaching martial arts. Aikido gradually began to become more and more recognizable. In 1984, after receiving the rank of rokudan, now independent from his former master, Fumio Toyoda founded his own organization, the American Aikido Association (Aikido Association of America, AAA for short).</p>
    <p>Sensei Toyoda toured the entire United States in his work, yet he chose Chicago as the headquarters of his organization, from which his American adventure began. AAA was the first to organize seminars for instructors ("learning how to teach") - until then, there was no such approach to teaching teachers in the world of Aikido. Sensei Toyoda also introduced re-certification of his instructors within a period of two years to ensure the highest standard and consistent transfer of knowledge throughout the organization.</p>

    <p>The flourishing of AAA in the USA also led to the expansion of Sensei Toyoda's activities worldwide. To this end, AAI (Aikido Association International) was created, associating dojos in 11 countries, including Japan.</p>
    <p>In addition to activities promoting Aikido, Fumio Toyoda founded the Japanese Cultural Center in Chicago in 1978, where one could learn such disciplines as Ikebana, tea ceremony, calligraphy, or Japanese language. A year later, the international Zen dojo Sogenkai was also created, in which Master Toyoda (from 1997 also a Zen master) sat on the board.</p>
    <p>In 1994, with the help of his mentor Sensei Kisaburo Osawa and with the consent of the then Doshu Kisshomaru Ueshiba, Master Toyoda re-established relations with Aikikai, making his efforts even more connected to the world home of Aikido - Hombu Dojo.</p>
    <p>During a seminar taking place in Greece, Sensei Fumio Toyoda unexpectedly felt ill. After a short stay in the hospital, he was transferred to Chicago. Unfortunately, however, on July 4, 2001, the world of Aikido suffered a great loss by saying goodbye to Master Fumio Toyoda. The legacy of his life still lives on, cultivated by his family and faithful students around the world.</p>
    <p><img src="/assets/images/toyoda/older_toyoda.jpg"></p>

  </div>
</div>
