<% page_title "Dan Grade Exam Requirements" %>

<div class="content">
  <h1>Exam Requirements &ndash; Dan Grades</h1>

  <ul class="inline">
    <li><a href="#1dan">1 dan</a></li>
    <li><a href="#2dan">2 dan</a></li>
    <li><a href="#3dan">3 dan</a></li>
    <li><a href="#4dan">4 dan</a></li>
  </ul>

  <h2 id="1dan">1 Dan (shodan) &ndash; minimum 9 months including 90 hours of training (50 hours as assistant) and participation in one instructor seminar since obtaining 1 kyu</h2>

  <div class="half">
    <div>
      <h3>Written Work</h3>
      <dl>
        <dt>What is Aikido?</dt>
        <dt>What is Shugyo?</dt>
      </dl>
    </div>

    <div>
      <h3>Techniques</h3>
      <dl>
        <dt>Munetsuki</dt>
        <dd>any techniques (minimum 5)</dd>
        <dt>Yokomenuchi</dt>
        <dd>any techniques (minimum 5)</dd>
        <dt>Ushirotekubitori</dt>
        <dd>any techniques (minimum 5)</dd>
        <dt>Ryotetori</dt>
        <dd>any techniques (minimum 5)</dd>
        <dt>Hanmi Hantachi Waza</dt>
        <dd>any techniques</dd>
        <dt>Bokken Dori</dt>
        <dd>defense against bokken attack (Munetsuki, Yokomenuchi, Shomenuchi &ndash; minimum three techniques)</dd>
        <dt>Jo Kata II</dt>
        <dd>Second Jo kata &ndash; 22 movements</dd>
        <dt>Randori</dt>
        <dd>Defense against 4 attackers</dd>
      </dl>
    </div>
  </div>

  <h2 id="2dan">2 Dan (nidan) &ndash; minimum 18 months including 50 hours as assistant and participation in one instructor seminar since obtaining 1 dan</h2>

  <div class="half">
    <div>
      <h3>Written Work</h3>
      <dl>
        <dt>History and future of Aikido</dt>
      </dl>
    </div>

    <div>
      <h3>Techniques</h3>
      <dl>
        <dt>Katatori Ganmenuchi</dt>
        <dd>any techniques (minimum 5)</dd>
        <dt>Shomenuchi</dt>
        <dd>any techniques (minimum 5)</dd>
        <dt>Hanmi Hantachi Waza</dt>
        <dd>any techniques (two attackers)</dd>
        <dt>Jo Dori</dt>
        <dd>defense against Jo attack (Munetsuki, Yokomenuchi, Shomenuchi &ndash; minimum three techniques)</dd>
        <dt>Randori</dt>
        <dd>Defense against 5 attackers</dd>
      </dl>
    </div>
  </div>

  <h2 id="3dan">3 Dan (sandan) &ndash; minimum 30 months including 100 hours as assistant and participation in one instructor seminar since obtaining 2 dan</h2>

  <div class="half">
    <div>
      <h3>Written Work</h3>
      <dl>
        <dt>Philosophy of Aikido</dt>
      </dl>
    </div>

    <div>
      <h3>Techniques</h3>
      <dl>
        <dt>Jo nage</dt>
        <dd>throws using Jo</dd>
        <dt>Kumijo</dt>
        <dd>Jo vs Jo forms (five)</dd>
        <dt>Kumitachi</dt>
        <dd>Bokken vs Bokken forms (six)</dd>
        <dt>Randori</dt>
        <dd>Defense against 6 attackers</dd>
      </dl>
    </div>
  </div>

  <h2 id="4dan">4 Dan (yondan) &ndash; minimum 42 months including 200 hours as assistant and participation in two instructor seminars since obtaining 3 dan (interview with Shihan required)</h2>

  <div class="half">
    <div>
      <h3>Written Work</h3>
      <dl>
        <dt>Application of Aikido</dt>
      </dl>
    </div>

    <div>
      <h3>Techniques</h3>
      <dl>
        <dt>Kihon Waza</dt>
        <dd>basic techniques</dd>
        <dt>Henka Waza</dt>
        <dd>variation techniques</dd>
        <dt>Oyo Waza</dt>
        <dd>advanced techniques</dd>
        <dt>Teaching methodology</dt>
        <dd>Kihon Waza and Oyo Waza</dd>
      </dl>
    </div>
  </div>

</div>

