- page_title "Wymagania egzaminacyjne na stopnie dan"

.content
  h1 Wymagania egzaminacyjne &ndash; stopnie dan

  ul.inline
    li: a href="#1dan" 1 dan
    li: a href="#2dan" 2 dan
    li: a href="#3dan" 3 dan
    li: a href="#4dan" 4 dan

  h2#1dan 1 Dan (shodan) &ndash; minimum 9 miesiące w tym 90 godz. treningu (50 godz. jako asystent) oraz uczestnictwo w jednym seminarium instruktorskim od zdobycia 1 kyu

  div.half
    div
      h3 Prace pisemne
      dl
        dt Co to jest Aikido?
        dt Co to jest Shugyo?

    div
      h3 Techniki
      dl
        dt Munetsuki
        dd techniki dowolne (minimum 5)
        dt Yokomenuchi
        dd techniki dowolne (minimum 5)
        dt Ushirotekubitori
        dd techniki dowolne (minimum 5)
        dt Ryotetori
        dd techniki dowolne (minimum 5)
        dt Hanmi Hantachi Waza
        dd techniki dowolne
        dt Bokken Dori
        dd obrona przed atakiem bokkenem (Munetsuki, Yokomenuchi, Shomenuchi &ndash; minimum trzy techniki)
        dt Jo Kata II
        dd Drugie kata z Jo &ndash; 22 elementy
        dt Randori
        dd Obrona przed 4 napastnikami

  h2#2dan 2 Dan (nidan) &ndash; minimum 18 miesiące w tym 50 godz. jako asystent oraz uczestnictwo w jednym seminarium instruktorskim od zdobycia 1 dan

  div.half
    div
      h3 Prace pisemne
      dl
        dt Historia i przyszłość Aikido

    div
      h3 Techniki
      dl
        dt Katatori Ganmenuchi
        dd techniki dowolne (minimum 5)
        dt Shomenuchi
        dd techniki dowolne (minimum 5)
        dt Hanmi Hantachi Waza
        dd techniki dowolne (dwóch atakujących)
        dt Jo Dori
        dd obrona przed atakiem Jo (Munetsuki, Yokomenuchi, Shomenuchi &ndash; minimum trzy techniki)
        dt Randori
        dd Obrona przed 5 napastnikami

  h2#3dan 3 Dan (sandan) &ndash; minimum 30 miesiące w tym 100 godz. jako asystent oraz uczestnictwo w jednym seminarium instruktorskim od zdobycia 2 dan

  div.half
    div
      h3 Prace pisemne
      dl
        dt Filozofia Aikido

    div
      h3 Techniki
      dl
        dt Jo nage
        dd rzuty przy użyciu Jo
        dt Kumijo
        dd Formy Jo przeciw Jo (pięć)
        dt Kumitachi
        dd Formy Bokken przeciw Bokken (sześć)
        dt Randori
        dd Obrona przed 6 napastnikami

  h2#4dan 4 Dan (yondan) &ndash; minimum 42 miesiące w tym 200 godz. jako asystent oraz uczestnictwo w dwóch seminariach instruktorskim od zdobycia 3 dan (wymagana rozmowa z Shihan)

  div.half
    div
      h3 Prace pisemne
      dl
        dt Zastosowanie Aikido

    div
      h3 Techniki
      dl
        dt Kihon Waza
        dd techniki podstawowe
        dt Henka Waza
        dd techniki zmienne
        dt Oyo Waza
        dd techniki zaawansowane
        dt Metodologia nauczania
        dd Kihon Waza i Oyo Waza
