<% page_title "Wymagania Egzaminacyjne Dan | Stopnie Mistrzowskie Aikido | POA" %>

<div class="content">
  <h1>Wymagania egzaminacyjne &ndash; stopnie dan</h1>

  <ul class="inline">
    <li><a href="#1dan">1 dan</a></li>
    <li><a href="#2dan">2 dan</a></li>
    <li><a href="#3dan">3 dan</a></li>
    <li><a href="#4dan">4 dan</a></li>
  </ul>

  <h2 id="1dan">1 Dan (shodan) &ndash; minimum 9 miesiące w tym 90 godz. treningu (50 godz. jako asystent) oraz uczestnictwo w jednym seminarium instruktorskim od zdobycia 1 kyu</h2>

  <div class="half">
    <div>
      <h3>Prace pisemne</h3>
      <dl>
        <dt>Co to jest Aikido?</dt>
        <dt>Co to jest Shugyo?</dt>
      </dl>
    </div>

    <div>
      <h3>Techniki</h3>
      <dl>
        <dt>Munetsuki</dt>
        <dd>techniki dowolne (minimum 5)</dd>
        <dt>Yokomenuchi</dt>
        <dd>techniki dowolne (minimum 5)</dd>
        <dt>Ushirotekubitori</dt>
        <dd>techniki dowolne (minimum 5)</dd>
        <dt>Ryotetori</dt>
        <dd>techniki dowolne (minimum 5)</dd>
        <dt>Hanmi Hantachi Waza</dt>
        <dd>techniki dowolne</dd>
        <dt>Bokken Dori</dt>
        <dd>obrona przed atakiem bokkenem (Munetsuki, Yokomenuchi, Shomenuchi &ndash; minimum trzy techniki)</dd>
        <dt>Jo Kata II</dt>
        <dd>Drugie kata z Jo &ndash; 22 elementy</dd>
        <dt>Randori</dt>
        <dd>Obrona przed 4 napastnikami</dd>
      </dl>
    </div>
  </div>

  <h2 id="2dan">2 Dan (nidan) &ndash; minimum 18 miesiące w tym 50 godz. jako asystent oraz uczestnictwo w jednym seminarium instruktorskim od zdobycia 1 dan</h2>

  <div class="half">
    <div>
      <h3>Prace pisemne</h3>
      <dl>
        <dt>Historia i przyszłość Aikido</dt>
      </dl>
    </div>

    <div>
      <h3>Techniki</h3>
      <dl>
        <dt>Katatori Ganmenuchi</dt>
        <dd>techniki dowolne (minimum 5)</dd>
        <dt>Shomenuchi</dt>
        <dd>techniki dowolne (minimum 5)</dd>
        <dt>Hanmi Hantachi Waza</dt>
        <dd>techniki dowolne (dwóch atakujących)</dd>
        <dt>Jo Dori</dt>
        <dd>obrona przed atakiem Jo (Munetsuki, Yokomenuchi, Shomenuchi &ndash; minimum trzy techniki)</dd>
        <dt>Randori</dt>
        <dd>Obrona przed 5 napastnikami</dd>
      </dl>
    </div>
  </div>

  <h2 id="3dan">3 Dan (sandan) &ndash; minimum 30 miesiące w tym 100 godz. jako asystent oraz uczestnictwo w jednym seminarium instruktorskim od zdobycia 2 dan</h2>

  <div class="half">
    <div>
      <h3>Prace pisemne</h3>
      <dl>
        <dt>Filozofia Aikido</dt>
      </dl>
    </div>

    <div>
      <h3>Techniki</h3>
      <dl>
        <dt>Jo nage</dt>
        <dd>rzuty przy użyciu Jo</dd>
        <dt>Kumijo</dt>
        <dd>Formy Jo przeciw Jo (pięć)</dd>
        <dt>Kumitachi</dt>
        <dd>Formy Bokken przeciw Bokken (sześć)</dd>
        <dt>Randori</dt>
        <dd>Obrona przed 6 napastnikami</dd>
      </dl>
    </div>
  </div>

  <h2 id="4dan">4 Dan (yondan) &ndash; minimum 42 miesiące w tym 200 godz. jako asystent oraz uczestnictwo w dwóch seminariach instruktorskim od zdobycia 3 dan (wymagana rozmowa z Shihan)</h2>

  <div class="half">
    <div>
      <h3>Prace pisemne</h3>
      <dl>
        <dt>Zastosowanie Aikido</dt>
      </dl>
    </div>

    <div>
      <h3>Techniki</h3>
      <dl>
        <dt>Kihon Waza</dt>
        <dd>techniki podstawowe</dd>
        <dt>Henka Waza</dt>
        <dd>techniki zmienne</dd>
        <dt>Oyo Waza</dt>
        <dd>techniki zaawansowane</dd>
        <dt>Metodologia nauczania</dt>
        <dd>Kihon Waza i Oyo Waza</dd>
      </dl>
    </div>
  </div>

</div>
