<% page_title "Yudansha - Czarne Pasy POA" %>

<div class="content">
  <div class="article">
    <h1>Yudansha</h1>
    <h2>Czarne Pasy Polskiej Organizacji Aikido</h2>

    <p>
      Yudansha (有段者) to japońskie określenie dla osób posiadających stopień mistrzowski dan w sztukach walki.
      Poniżej przedstawiamy wszystkich posiadaczy czarnych pasów, którzy otrzymali awanse w ramach 
      Polskiej Organizacji Aikido, uhonorowując ich oddanie i zaangażowanie w naukę Aikido według
      tradycji Shihana Fumio Toyody.
    </p>

    <p>
      Lista jest uporządkowana od najwyższego stopnia mistrzowskiego (5 dan) do pierwszego stopnia (1 dan),
      zgodnie z tradycją japońskich dojo. W obrębie każdego stopnia nazwiska uszeregowane są alfabetycznie.
    </p>

    <div class="lineage-chart">
      <div class="lineage-item founder">
        <h3>5 Dan (Godan)</h3>
      </div>

      <div class="yudansha-group">
        <ul class="yudansha-list">
          <li>Wojciech Korwin-Piotrowski</li>
          <li>Jacek Ostrowski <span class="memorial">† 2024</span></li>
          <li>Oskar Szrajer - <em>Dojo-cho POA / Sesshinkan Dojo</em></li>
        </ul>
      </div>

      <div class="lineage-item">
        <h3>3 Dan (Sandan)</h3>
      </div>

      <div class="yudansha-group">
        <ul class="yudansha-list">
          <li>Sławomir Orłowski</li>
        </ul>
      </div>

      <div class="lineage-item">
        <h3>2 Dan (Nidan)</h3>
      </div>

      <div class="yudansha-group">
        <ul class="yudansha-list">
          <li>Artur Barzowski</li>
          <li>Patryk Chowaniec</li>
          <li>Karol Łaciok</li>
          <li>Kamil Ostrowski</li>
          <li>Krzysztof Seget</li>
        </ul>
      </div>

      <div class="lineage-item">
        <h3>1 Dan (Shodan)</h3>
      </div>

      <div class="yudansha-group">
        <ul class="yudansha-list">
          <li>Bogdan Adamik</li>
          <li>Kazimierz Dedek</li>
          <li>Sławomir Filimoniuk</li>
          <li>Mateusz Grotha</li>
          <li>Marek Grzywacz</li>
          <li>Kaja Karwowska</li>
          <li>Piotr Kazana</li>
          <li>Konrad Kogut</li>
          <li>Grzegorz Marciniak</li>
          <li>Michał Nowosielski</li>
          <li>Arkadiusz Olejarnik</li>
          <li>Adam Polak</li>
          <li>Przemek Roman</li>
          <li>Justyna Sekuła (Jóźwin)</li>
          <li>Jarosław Zgórski</li>
        </ul>
      </div>
    </div>

    <div class="yudansha-note">
      <h3>O stopniach dan</h3>
      <p>
        Stopnie dan (段) reprezentują poziom mistrzostwa w Aikido. W tradycji japońskiej yudansha
        to nie tylko techniczne umiejętności, ale także głębokie zrozumienie filozofii sztuki,
        zaangażowanie w ciągłe doskonalenie oraz gotowość do przekazywania wiedzy innym.
      </p>
      <p>
        Każdy stopień dan wymaga lat poświęconej praktyki, zdania egzaminów przed komisją mistrzowską
        oraz spełnienia rygorystycznych wymagań technicznych i osobistych. Szczegółowe wymagania
        egzaminacyjne dostępne są na stronie <a href="/wymagania_egzaminacyjne/dan.html">Stopnie Dan</a>.
      </p>
    </div>

    <blockquote>
      "Pas jest tylko kawałkiem materiału. Twój talent jest w sercu, nie wokół talii."
      <cite>Shihan Fumio Toyoda</cite>
    </blockquote>
  </div>
</div>
