<% page_title "Yudansha - POA Black Belts" %>

<div class="content">
  <div class="article">
    <h1>Yudansha</h1>
    <h2>Black Belts of Polish Aikido Organization</h2>

    <p>
      Yudansha (有段者) is a Japanese term for individuals who hold a dan rank in martial arts.
      Below we present all black belt holders who received their promotions within the
      Polish Aikido Organization, honoring their dedication and commitment to learning Aikido
      according to the tradition of Shihan Fumio Toyoda.
    </p>

    <p>
      The list is ordered from the highest master grade (5th dan) to the first grade (1st dan),
      in accordance with Japanese dojo tradition. Within each grade, names are arranged alphabetically.
    </p>

    <div class="lineage-chart">
      <div class="lineage-item founder">
        <h3>5th Dan (Godan)</h3>
      </div>

      <div class="yudansha-group">
        <ul class="yudansha-list">
          <li>Wojciech Korwin-Piotrowski</li>
          <li>Jacek Ostrowski <span class="memorial">† 2024</span></li>
          <li>Oskar Szrajer - <em>Dojo-cho POA / Sesshinkan Dojo</em></li>
        </ul>
      </div>

      <div class="lineage-item">
        <h3>3 Dan (Sandan)</h3>
      </div>

      <div class="yudansha-group">
        <ul class="yudansha-list">
          <li>Sławomir Orłowski</li>
        </ul>
      </div>

      <div class="lineage-item">
        <h3>2 Dan (Nidan)</h3>
      </div>

      <div class="yudansha-group">
        <ul class="yudansha-list">
          <li>Artur Barzowski</li>
          <li>Patryk Chowaniec</li>
          <li>Karol Łaciok</li>
          <li>Kamil Ostrowski</li>
          <li>Krzysztof Seget</li>
        </ul>
      </div>

      <div class="lineage-item">
        <h3>1 Dan (Shodan)</h3>
      </div>

      <div class="yudansha-group">
        <ul class="yudansha-list">
          <li>Bogdan Adamik</li>
          <li>Kazimierz Dedek</li>
          <li>Sławomir Filimoniuk</li>
          <li>Mateusz Grotha</li>
          <li>Marek Grzywacz</li>
          <li>Kaja Karwowska</li>
          <li>Piotr Kazana</li>
          <li>Konrad Kogut</li>
          <li>Grzegorz Marciniak</li>
          <li>Michał Nowosielski</li>
          <li>Arkadiusz Olejarnik</li>
          <li>Adam Polak</li>
          <li>Przemek Roman</li>
          <li>Justyna Sekuła (Jóźwin)</li>
          <li>Jarosław Zgórski</li>
        </ul>
      </div>

      <div class="yudansha-group">
        <ul class="yudansha-list">
          <li>Sławomir Orłowski</li>
          <li>Kamil Ostrowski</li>
        </ul>
      </div>

      <div class="lineage-item">
        <h3>2nd Dan (Nidan)</h3>
      </div>

      <div class="yudansha-group">
        <ul class="yudansha-list">
          <li>Artur Barzowski</li>
        </ul>
      </div>

      <div class="lineage-item">
        <h3>1st Dan (Shodan)</h3>
      </div>

      <div class="yudansha-group">
        <ul class="yudansha-list">
          <li>Bogdan Adamik</li>
          <li>Sławomir Filimoniuk</li>
          <li>Mateusz Grotha</li>
          <li>Marek Grzywacz</li>
          <li>Justyna Jóźwin-Sekuła</li>
          <li>Kaja Karwowska</li>
          <li>Piotr Kazana</li>
          <li>Grzegorz Marciniak</li>
          <li>Adam Polak</li>
          <li>Przemek Roman</li>
        </ul>
      </div>
    </div>

    <div class="yudansha-note">
      <h3>About Dan Grades</h3>
      <p>
        Dan grades (段) represent the level of mastery in Aikido. In Japanese tradition, yudansha
        signifies not only technical skills but also deep understanding of the art's philosophy,
        commitment to continuous improvement, and readiness to pass knowledge to others.
      </p>
      <p>
        Each dan grade requires years of dedicated practice, passing examinations before a master commission,
        and meeting rigorous technical and personal requirements. Detailed examination requirements
        are available on the <a href="/en/requirements/dan.html">Dan Grades</a> page.
      </p>
    </div>

    <blockquote>
      "The belt is just a piece of cloth. Your talent is in your heart, not around your waist."
      <cite>Shihan Fumio Toyoda</cite>
    </blockquote>
  </div>
</div>
